frontend/node_modules
frontend/build

backend/__pycache__

venv/

.vscode
.idea

config.json
scratch.*

# Elastic Beanstalk Files
backend/.elasticbeanstalk/*
!backend/.elasticbeanstalk/*.cfg.yml
!backend/.elasticbeanstalk/*.global.yml
