.search-page {
    padding: 20px 30px;
}

.input-prompt {
    padding-right: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.input {
    box-sizing: border-box;
}

input[type="text"]
{
    font-size: 1.5em;
    min-height: 100%;
}

.album-art {
    height: 80px;
}