.search-page {
    padding: 20px 30px;
}

.input-prompt {
    padding-right: 10px;
    font-size: 1.25em;
    font-weight: bold;
}

.input {
    width: 25% !important;
    margin-bottom: 10px;
}

.submit {
    height: 20px;
}

.album-art {
    height: 80px;
    border-radius: 3px;
}

.main-content {
    display: flex;
}

.column {
    width: 50%;
}

.btn .btn-outline-secondary {
    padding: 0;
    margin: 6px 12px;
}
