.input-prompt {
    padding-right: 10px;
    font-size: 1.25em;
    font-weight: bold;
}

.input {
    margin-bottom: 10px;

}

.submit-img {
    height: 30px;
}

.album-art {
    height: 80px;
    border-radius: 3px;
    margin-right: 10px
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

.submit {
    padding: 3px !important;
}

.result {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-outline-secondary {
    margin-bottom: 5px;
}

.MuiSlider-rail {
    background-color: #222326 !important;
}

.MuiSlider-thumb.Mui-disabled {
    height: 14px !important;
    width: 14px !important;
    background-color: #22ca5d !important;
    margin-top: -5px !important;
    margin-left: -6px !important;
}

.reduced-column {
    width: 46%;
}

.value-sliders {
    display: flex;
    justify-content: space-between;
}

.name {
    color: #22ca5d;
}

hr {
    border-top: 3px solid #ababab !important;
    width: 95%;
}