.main-content {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

.column-30 {
    width: 30%;
}

hr {
    border-top: 3px solid #ababab !important;
    width: 95%;
}

/* .modal {
    width: 75%;
} */

.modal-li {
    padding: .2rem;
    display: list-item;
}

.modal-body {
    display: flex;
}

.uri-tooltip {
    text-decoration: underline;
}

.uri-tooltip:hover {
    color: #66d68e !important;    
}
