@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.navbar {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.title {
    font-weight: 800;
}

.links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
