.cover-img {
    height: 80px;
    border-radius: 3px;
    margin-right: 10px
}

.result {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-outline-secondary {
    margin-bottom: 6px;
}

.submit {
    padding: 3px !important;
}

.buttons > * {
    margin-right: 4px;
}